body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.format_card .card{
    margin-top: 10%;
    padding: 5%;
}

#format_link_cadastro{
    margin-top: 10px;
}